# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/

# Logs
*.log

# OS files
.DS_Store

# production process files
api-design.md 
project-design.md
requirements.md 
system-design.md 
use-cases.md